@model IEnumerable<TravelReviewSite.Models.Review>

@{
    ViewBag.Title = "ORBRADZ";
}

<h2>VACATION REVIEWS FROM ORBRADZ</h2>

<p>
    @Html.ActionLink("Create New", "Create")  <!--Line for user to submit a review-->
</p>

<div class="row">   <!--Thumbnails in row-->

                            @*"item" is a temporary variable for used for this loop*@
    @foreach (var item in Model)  
    {
        <div class="col-sm-6 col-md-4 col-lg-4">  <!--These column sizes have worked the best for responsiveness on any size screen-->
            <div class="thumbnail">
                <div class="caption">
                           @*modelItem is the name of this Lambda that goes to (=>) the Name Property(column) of the Category table*@
                    <p><h4>Vacation Type:</h4> @Html.DisplayFor(modelItem => item.Category.Name)</p>


                    <p><h4>Headline:</h4> @Html.DisplayFor(modelItem => item.ReviewTitle)</p>


                    <p><h4>Review:</h4>  @Html.DisplayFor(modelItem => item.ReviewContent)</p>


                    <p><h4>Date:</h4> @Html.DisplayFor(modelItem => item.PublishDate)</p>

                    <p>  @*3 buttons on the same line below*@
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new {@class="btn btn-primary" })
                        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-danger" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-success" })
                    </p>
                </div>
            </div>
        </div>
    }
</div>

<!--A search bar to explore the site, learned in ASP.NET MVC5 textbook-->

<form class="navbar-form navbar-right" role="search">

    <div class="form-group">

        <input type="text" class="form-control" placeholder="Search Orbradz">

    </div>

    <button type="submit" class="btn btn-default">Submit</button>

</form>

<!--An alert message, found in O'Reilly book-->

<div class="alert alert-success alert-dismissible" role="alert">

    <button type="button" class="close" data-dismiss="alert">

        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

    </button>

    <strong>Learn from those who have been where you're going!</strong>

</div>


@*<p>@Html.DisplayNameFor(model => model.Category.Name)</p>
    <p>@Html.DisplayNameFor(model => model.ReviewTitle)</p>
    <p>@Html.DisplayNameFor(model => model.ReviewContent)</p>
    <p>@Html.DisplayNameFor(model => model.PublishDate)</p>*@














